<h1>Manage My Car Parts</h1>
<%= link_to "Create car part", new_seller_car_part_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Part Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @car_parts.each do |car_part| %>
      <tr>
        <td><%= car_part.id %></td>
        <td><%= car_part.name %></td>
        <td><%= car_part.price %> €</td>
        <td><%= car_part.quantity %></td>
        <td><%= car_part.created_at %></td>
        <td><%= car_part.updated_at %></td>
        <td><%= link_to "show", seller_car_part_path(car_part) %></td>
      </tr>
    <% end %>
  </tbody>
</table>