<h1>Show Car</h1>
<div>
  <p><%= @car_part.id %></p>
  <p><%= @car_part.name %></p>
  <p><%= @car_part.price %></p>
  <p><%= @car_part.quantity %></p>
  <p><%= @car_part.created_at %></p>
  <p><%= @car_part.updated_at %></p>
</div>
<%= button_to "Delete", admin_car_part_path(@car_part), class: "btn btn-danger", method: :delete, data: {turbo_confirm: "Are you sure?"} %>
<%= link_to "back", admin_car_parts_path %>
